%h1= Language["CopyTest"]
= WebHelper.RenderErrors(errors)
%form{method="post", action="/test/copy/"+Id}
	- string lastCat = string.Empty;
	%label{for="name"}= Language["Name"]
	%input{type="text", id="name", name="name", size="40"}
	%p= Language["SelectItems"]
	%table#tbl{ style="width:100%" }
		%tr
			%th 
				%input{type="checkbox", onclick="selectAll(this, '');"}/
			%th= Language["Name"]
			%th= Language["Description"]
		- foreach (TestCase testCase in items)
			- if (lastCat != testCase.Category)
				- lastCat = testCase.Category;
				= "<tr><td colspan=\"3\"><h2><input type=\"checkbox\" onclick=\"selectAll(this, '" + lastCat.Replace(' ','-') + "');\" /> " + lastCat + "</h2></td></tr>"
			%tr
				%td
					%input{ type="checkbox", value=testCase.Id, name="case", class=lastCat.Replace(' ', '-')}/
				%td= testCase.Name
				%td= testCase.Description
	%input{type="submit", value=Language["CreateTest"]}/
%script{type="text/javascript"}
	function selectAll(source, cat) {
		if (cat == '')
			var elems = $$('input[type="checkbox"]');
		else
			var elems = $('tbl').getElementsByClassName(cat);
		for each (var item in elems)
			$(item).checked = source.checked;
	}